<div class="layout-header1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="main-menu-block">
          <div class="menu-left">
            <div class="sm-nav-block">
              <span class="sm-nav-btn"><i class="fa fa-bars"></i></span>
              <ul class="nav-slide">
                <li>
                  <div class="nav-sm-back">
                    back <i class="fa fa-angle-right pl-2"></i>
                  </div>
                </li>
                <li><a href="category-page(left-sidebar).html">western ware</a></li>
                <li><a href="category-page(left-sidebar).html">TV, Appliances</a></li>
                <li><a href="category-page(left-sidebar).html">Pets Products</a></li>
                <li><a href="category-page(left-sidebar).html">Car, Motorbike</a></li>
                <li><a href="category-page(left-sidebar).html">Industrial Products</a></li>
                <li><a href="category-page(left-sidebar).html">Beauty, Health Products</a></li>
                <li><a href="category-page(left-sidebar).html">Grocery Products </a></li>
                <li><a href="category-page(left-sidebar).html">Sports</a></li>
                <li><a href="category-page(left-sidebar).html">Bags, Luggage</a></li>
                <li><a href="category-page(left-sidebar).html">Movies, Music </a></li>
                <li><a href="category-page(left-sidebar).html">Video Games</a></li>
                <li><a href="category-page(left-sidebar).html">Toys, Baby Products</a></li>
                <li class="mor-slide-open">
                  <ul>
                    <li><a href="category-page(left-sidebar).html">Bags, Luggage</a></li>
                    <li><a href="category-page(left-sidebar).html">Movies, Music </a></li>
                    <li><a href="category-page(left-sidebar).html">Video Games</a></li>
                    <li><a href="category-page(left-sidebar).html">Toys, Baby Products</a></li>
                  </ul>
                </li>
                <li>
                  <a class="mor-slide-click">
                    mor category
                    <i class="fa fa-angle-down pro-down" ></i>
                    <i class="fa fa-angle-up pro-up" ></i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="brand-logo">
              <a href="#">
                <img src="../assets/images/layout-1/logo/logo.png" class="img-fluid  " alt="logo-header">
              </a>
            </div>
          </div>
          <div class="menu-right">
            <div class="toggle-block">
              <nav id="main-nav">
                <div class="toggle-nav"><i class="fa fa-bars sidebar-bar"></i></div>
                <ul id="main-menu" class="sm pixelstrap sm-horizontal">
                  <li>
                    <div class="mobile-back text-right">Back<i class="fa fa-angle-right pl-2" aria-hidden="true"></i></div>
                  </li>
                  <!--HOME-->
                  <li>
                    <a href="index.html">Home</a>
                  </li>
                  <!--HOME-END-->

                  <!--SHOP-->
                  <li>
                    <a href="category-page(left-sidebar).html">Shop</a>

                  </li>
                  <!--SHOP-END-->
                  <!--product-meu start-->
                  <li class="mega" id="hover-cls"><a href="#">product
                  </a>
                    <ul class="mega-menu full-mega-menu ">
                      <li>
                        <div class="container">
                          <div class="row">
                            <div class="col mega-box">
                              <div class="link-section">
                                <div class="menu-title">
                                  <h5>Điện Thoại</h5>
                                </div>
                                <div class="menu-content">
                                  <ul>
                                    <li><a href="category-page(left-sidebar).html">IPhone</a></li>
                                    <li><a href="category-page(left-sidebar).html">Samsung</a></li>
                                    <li><a href="category-page(left-sidebar).html">Oppo</a></li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                            <div class="col mega-box">
                              <div class="link-section">
                                <div class="menu-title">
                                  <h5>Laptop</h5>
                                </div>
                                <div class="menu-content">
                                  <ul>
                                    <li><a href="category-page(left-sidebar).html">Dell</a></li>
                                    <li><a href="category-page(left-sidebar).html">Asus</a></li>
                                    <li><a href="category-page(left-sidebar).html">HP</a></li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                            <div class="col mega-box">
                              <div class="link-section">
                                <div class="menu-title">
                                  <h5>product layout <span class="new-tag">Phụ Kiện</span></h5>
                                </div>
                                <div class="menu-content">
                                  <ul>
                                    <li><a href="category-page(left-sidebar).html">Chuột </a></li>
                                    <li><a href="category-page(left-sidebar).html">Loa </a></li>
                                    <li><a href="category-page(left-sidebar).html">Bàn Phím</a></li>
                                    <li><a href="category-page(left-sidebar).html">Sạc Dự Phòng</a></li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                            <div class="col mega-box">
                              <div class="link-section">
                                <div class="menu-title">
                                  <h5>Quần Áo</h5>
                                </div>
                                <div class="menu-content">
                                  <ul>
                                    <li><a href="category-page(left-sidebar).html">Áo Thun</a></li>
                                    <li><a href="category-page(left-sidebar).html">Quần Jean</a></li>
                                    <li><a href="category-page(left-sidebar).html">Đầm</a></li>
                                  </ul>
                                </div>
                              </div>
                            </div>

                          </div>
                          <div class="row menu-banner">
                            <div class="col-lg-6">
                              <div>
                                <img src="../assets/images/menu-banner1.jpg" alt="menu-banner" class="img-fluid">
                              </div>
                            </div>
                            <div class="col-lg-6">
                              <div>
                                <img src="../assets/images/menu-banner2.jpg" alt="menu-banner" class="img-fluid">
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </li>
                  <!--product-meu end-->

                  <!--mega-meu start-->
                  <li class="mega">
                    <a href="about-page.html">Giới Thiệu</a>
                  </li>
                  <!--mega-meu end-->

                  <!--pages-meu start-->
                  <li><a href="#">Trang</a>
                    <ul>
                      <li>
                        <a href="#">account</a>
                        <ul>
                          <li><a href="wishlist.html">wishlist</a></li>
                          <li><a href="cart.html">cart</a></li>
                          <li><a href="login.html">login</a></li>
                          <li><a href="register.html">register</a></li>
                          <li><a href="contact.html">contact</a></li>
                          <li><a href="forget-pwd.html">forget password</a></li>
                          <li><a href="checkout.html">checkout</a></li>
                        </ul>
                      </li>
                      <li><a href="order-success.html">order success</a></li>
                      <li><a href="order-history.html">order history</a></li>

                      <li><a href="faq.html">Chính sách & Quy Định</a></li>
                    </ul>
                  </li>
                  <!--product-end end-->

                  <!--blog-meu start-->
                  <li>
                    <a href="blog-details.html">Tin Tức</a>
                  </li>
                  <!--blog-meu end-->
                </ul>
              </nav>
            </div>
            <div>
              <div class="icon-nav">
                <ul>
                  <li class="mobile-user onhover-dropdown" onclick="openAccount()"><a href="#"><i class="icon-user"></i></a>
                  </li>
                  <li class="mobile-wishlist" onclick="openWishlist()">
                    <a href="wishlist.html">
                      <i class="icon-heart"></i>
                      <div class="cart-item">
                        <div>0 item<span>wishlist</span></div>
                      </div>
                    </a>
                  </li>
                  <li class="mobile-search"><a href="#"><i class="icon-search"></i></a>
                    <div class="search-overlay">
                      <div>
                        <span class="close-mobile-search">×</span>
                        <div class="overlay-content">
                          <div class="container">
                            <div class="row">
                              <div class="col-xl-12">
                                <form>
                                  <div class="form-group"><input type="text" class="form-control" id="exampleInputPassword1" placeholder="Search a Product"></div>
                                  <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="mobile-setting mobile-setting-hover" onclick="openSetting()"><a href="#"><i class="icon-settings"></i></a>
                  </li>
                </ul>
                <div class="cart-block mobile-cart cart-hover-div" onclick="openCart()">
                  <a href="/cart"><span class="cart-product">0</span><i class="icon-shopping-cart"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
