<!-- <div class="footer-container" xmlns:th="http://www.thymeleaf.org">

	@Copy right <a href="http://o7planning.org" target="_blank">o7planning.org</a>
	<br> See more <a>demo</a>

</div> -->
 <!-- footer start-->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 footer-copyright">
                        <p class="mb-0">Copyright 2019 © Bigdeal All rights reserved.</p>
                    </div>
                    <div class="col-md-6">
                        <p class="pull-right mb-0">Hand crafted & made with<i class="fa fa-heart"></i></p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer end-->