<!-- Page Sidebar Start-->
        <div class="page-sidebar">
            <div class="sidebar custom-scrollbar">
                <div class="sidebar-user text-center">
                    <div><img class="img-60 rounded-circle lazyloaded blur-up" th:src="@{/assets/images/dashboard/man.png}" alt="#">
                    </div>
                    <h6 class="mt-3 f-14" th:utext="${#request.userPrincipal?.name}"></h6>
                    <p th:utext="${#request.userPrincipal?.authorities}"></p>
                </div>
                <ul class="sidebar-menu">
                    <li><a class="sidebar-header" th:href="@{/admin/}"><span class="fa fa-home"> Dashboard</span></a></li>
                    <li><a class="sidebar-header" th:href="@{/admin/accounts}"><span class="fa fa-user" th:utext="#{menu.user}"> </span></a></li>
                    <li><a class="sidebar-header" th:href="@{/admin/products}"><span class="fa fa-list" th:utext="#{menu.product}"> Product</span></a></li>
                    <li><a class="sidebar-header" th:href="@{/admin/categories}"><span class="fa fa-tags" th:utext="#{menu.category}"> Category</span></a></li>
                    <li><a class="sidebar-header" th:href="@{/admin/brands}"><span class="fa fa-flag" th:utext="#{menu.brand}"> Brand</span></a></li>
                    <li><a class="sidebar-header" th:href="@{/admin/blogs}"><span class="fa fa-newspaper-o" th:utext="#{menu.blog}"> Blog</span></a></li>
                    <li><a class="sidebar-header" th:href="@{/admin/customers}"><span class="fa fa-users" th:utext="#{menu.customer}"> Customer</span></a></li>
                    <li><a class="sidebar-header" th:href="@{/admin/contacts}"><span class="fa fa-address-card" th:utext="#{menu.contact}"> Contact</span></a></li>
                    <li><a class="sidebar-header" th:href="@{/admin/orders}"><span class="fa fa-shopping-cart" th:utext="#{menu.order}"> Order</span></a></li>
                    <li><a class="sidebar-header" th:href="@{/admin/banners}"><span class="fa fa-shopping-cart" th:utext="#{menu.banner}"> Banner</span></a></li>
                    <li><a class="sidebar-header" href="#"><span class="fa fa-bar-chart" th:utext="#{menu.report}"> Report</span></a>
                    	<ul class="sidebar-submenu">
                            <li>
                                <a th:href="@{/admin/report/product}"><i class="fa fa-circle"></i>
                                    <span th:text="#{report.product}">Product</span> <i class="fa fa-angle-right pull-right"></i>
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/admin/report/profit}"><i class="fa fa-circle"></i>
                                    <span th:text="#{report.profit}">Profit</span> <i class="fa fa-angle-right pull-right"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Page Sidebar Ends-->

        <!-- Right sidebar Start-->
        <div class="right-sidebar" id="right_side_bar">
            <div>
                <div class="container p-0">
                    <div class="modal-header p-l-20 p-r-20">
                        <div class="col-sm-8 p-0">
                            <h6 class="modal-title font-weight-bold">FRIEND LIST</h6>
                        </div>
                        <div class="col-sm-4 text-right p-0"><i class="mr-2" data-feather="settings"></i></div>
                    </div>
                </div>
                <div class="friend-list-search mt-0">
                    <input type="text" placeholder="search friend"><i class="fa fa-search"></i>
                </div>
                <div class="p-l-30 p-r-30">
                    <div class="chat-box">
                        <div class="people-list friend-list">
                            <ul class="list">
                                <li class="clearfix"><img class="rounded-circle user-image" th:src="@{/assets/images/dashboard/user.png}" alt="">
                                    <div class="status-circle online"></div>
                                    <div class="about">
                                        <div class="name">Vincent Porter</div>
                                        <div class="status"> Online</div>
                                    </div>
                                </li>
                                <li class="clearfix"><img class="rounded-circle user-image" th:src="@{/assets/images/dashboard/user1.jpg}" alt="">
                                    <div class="status-circle away"></div>
                                    <div class="about">
                                        <div class="name">Ain Chavez</div>
                                        <div class="status"> 28 minutes ago</div>
                                    </div>
                                </li>
                                <li class="clearfix"><img class="rounded-circle user-image" th:src="@{/assets/images/dashboard/user2.jpg}" alt="">
                                    <div class="status-circle online"></div>
                                    <div class="about">
                                        <div class="name">Kori Thomas</div>
                                        <div class="status"> Online</div>
                                    </div>
                                </li>
                                <li class="clearfix"><img class="rounded-circle user-image" th:src="@{/assets/images/dashboard/user3.jpg}" alt="">
                                    <div class="status-circle online"></div>
                                    <div class="about">
                                        <div class="name">Erica Hughes</div>
                                        <div class="status"> Online</div>
                                    </div>
                                </li>
                                <li class="clearfix"><img class="rounded-circle user-image" th:src="@{/assets/images/dashboard/man.png}" alt="">
                                    <div class="status-circle offline"></div>
                                    <div class="about">
                                        <div class="name">Ginger Johnston</div>
                                        <div class="status"> 2 minutes ago</div>
                                    </div>
                                </li>
                                <li class="clearfix"><img class="rounded-circle user-image" th:src="@{/assets/images/dashboard/user5.jpg}" alt="">
                                    <div class="status-circle away"></div>
                                    <div class="about">
                                        <div class="name">Prasanth Anand</div>
                                        <div class="status"> 2 hour ago</div>
                                    </div>
                                </li>
                                <li class="clearfix"><img class="rounded-circle user-image" th:src="@{/assets/images/dashboard/designer.jpg}" alt="">
                                    <div class="status-circle online"></div>
                                    <div class="about">
                                        <div class="name">Hileri Jecno</div>
                                        <div class="status"> Online</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Right sidebar Ends-->
