<app-navbar [isShow]="false"></app-navbar>
<app-slider-start></app-slider-start>
<app-collection-banner-start></app-collection-banner-start>
<app-brand-panel></app-brand-panel>
<app-service-start></app-service-start>
<app-media-banner></app-media-banner>
<app-discount-banner></app-discount-banner>
<app-collection-banner></app-collection-banner>
<app-media-tab></app-media-tab>
<!--<app-product></app-product>-->
<app-deal-banner></app-deal-banner>
<app-rounded-category></app-rounded-category>
<app-blog-start></app-blog-start>
<app-box-category></app-box-category>
<app-testimonial></app-testimonial>
<app-instagram></app-instagram>
<app-newsleatter></app-newsleatter>
<app-contact-banner></app-contact-banner>
