<app-top-nav></app-top-nav>
<app-header></app-header>
<main>
  <router-outlet></router-outlet>
</main>
<app-footer></app-footer>
<app-tap-to-top></app-tap-to-top>
<app-add-to-cart-bar></app-add-to-cart-bar>
<app-newsletter-modal-popup></app-newsletter-modal-popup>
<app-quick-view-modal-popup></app-quick-view-modal-popup>
<app-my-account-bar></app-my-account-bar>
<app-add-to-wishlist-bar></app-add-to-wishlist-bar>
<app-add-to-setting-bar></app-add-to-setting-bar>
<app-notification-product></app-notification-product>
