<section class=" b-g-white section-big-pt-space">
  <div class="container">
    <div class="row hot-1">
      <div class="col-lg-3 col-sm-6  col-12  ">
        <div class="slide-1 no-arrow">
          <div>
            <div class="media-banner">
              <div class="media-banner-box">
                <div class="media-heading">
                  <h5>on sale</h5>
                </div>
              </div>
              <div class="media-banner-box">
                <div class="media">
                  <img src="../assets/images/layout-1/media-banner/1.jpg" class="img-fluid  " alt="banner">
                  <div class="media-body">
                    <div class="media-contant">
                      <div>
                        <div class="rating">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                        </div>
                        <p>
                          Generator on Internet.
                        </p>
                        <h6>$153.00</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="media-banner-box">
                <div class="media">
                  <img src="../assets/images/layout-1/media-banner/2.jpg" class="img-fluid  " alt="banner">
                  <div class="media-body">
                    <div class="media-contant">
                      <div>
                        <div class="rating">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                        </div>
                        <p>
                          Generator on Internet.
                        </p>
                        <h6>$153.00</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="media-banner-box">
                <div class="media-view">
                  <h5>View More</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-sm-6  col-12">
        <div class="Jewellery-banner">
          <a>save 30% off</a>
          <h6>Jewellery</h6>
        </div>
      </div>
      <div class="col-lg-7  col-sm-12 col-12  ">
        <div class="hot-deal">
          <div class="hot-deal-box">
            <div class="slide-1">
              <div>
                <div class="hot-deal-contain1 hot-deal-banner-1">
                  <div class="hot-deal-heading">
                    <h5>today’s hot deal</h5>
                  </div>
                  <div class="row hot-deal-subcontain">
                    <div class="col-lg-4 col-sm-4 col-12">
                      <div class="hotdeal-right-slick-1 no-arrow">
                        <div class="right-slick-img"><img src="../assets/images/layout-1/hot-deal/4.jpg" alt="hot-deal" class="img-fluid  "></div>
<!--                        <div class="right-slick-img"><img src="../assets/images/layout-1/hot-deal/3.jpg" alt="hot-deal" class="img-fluid  "></div>-->
<!--                        <div class="right-slick-img"><img src="../assets/images/layout-1/hot-deal/2.jpg" alt="hot-deal" class="img-fluid  "></div>-->
<!--                        <div class="right-slick-img"><img src="../assets/images/layout-1/hot-deal/1.jpg" alt="hot-deal" class="img-fluid  "></div>-->
                      </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                      <div class="hot-deal-center">
                        <div>
                          <div class="timer">
                            <p class="demo1">
                                                                <span>
                                                       25
                                                       <span>days</span>
                                                                </span>
                              <span>:</span>
                              <span>
                                                        12
                                                        <span>hrs</span>
                                                                </span>
                              <span>:</span>
                              <span>
                                                        45
                                                        <span>min</span>
                                                                </span>
                              <span>:</span>
                              <span>
                                                        03
                                                        <span>sec</span>
                                                                </span>
                            </p>
                          </div>
                          <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                          </div>
                          <div>
                            <h5>simply dummy text of the printing</h5>
                          </div>
                          <div>
                            <p>
                              it is a long established fact that a reader.
                            </p>
                            <div class="price">
                              <span>$45.00</span>
                              <span>$50.30</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-2 col-sm-2 p-l-md-0">
                      <div class="hotdeal-right-nav-1">
                        <div><img src="../assets/images/layout-1/hot-deal/4.jpg" alt="hot-deal" class="img-fluid  "></div>
                        <div><img src="../assets/images/layout-1/hot-deal/3.jpg" alt="hot-deal" class="img-fluid  "></div>
                        <div><img src="../assets/images/layout-1/hot-deal/2.jpg" alt="hot-deal" class="img-fluid  "></div>
<!--                        <div><img src="../assets/images/layout-1/hot-deal/1.jpg" alt="hot-deal" class="img-fluid  "></div>-->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
